html {
    display: table;
    margin: auto;
    background-color: #1A1A1A;
}
.bar {
    margin-bottom: 10px;
    color: white;
    padding: 4px;
    text-align: left;
    background-color: #35AFB0;
    border-radius: 2px;
    text-shadow: 1px 1px 3px #000000;
}

.error {
    color: #FF0000;
}

dl {
    font-size: 75%;
    float: left;
    margin: 5px;
    padding: 5px;
}
body
{
    background-color: #F2E9E1;
    max-width: 1000px;
    min-width: 300px;
    border: 1px solid grey;
    
}
aside
{
    float:right;
    width: 175px;
    border: 1px solid grey;
    margin: 15px;
    padding: 15px;
}
img {
	padding: 10px;
	float:left;
}
nav
{
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #35AFB0;
}
h1 {
    float: top;	
    background-color: #152A39;
    color: #EFEFEF;
    color: #9CF0B9;
    text-shadow: 1px 1px 3px #111111;
    font-family: ubuntu, monospace;
    font-family: 'Fira', mono;
    padding: 15px;
    margin: 0px auto 0px auto;
    text-align: left;
    font-size: 22px;
}
h2 {
    float: top; 
    background-color: #1E4662;
    color: #9CF0B9;
    text-shadow: 1px 1px 3px #111111;
    font-family: ubuntu, monospace;
    font-family: 'Fira', mono;
    padding: 5px;
    padding-left: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    font-size: 18px;
}
h3 {
    float: top; 
    background-color: #266D99;
    color: #9CF0B9;
    text-shadow: 1px 1px 3px #111111;
    font-family: ubuntu, monospace;
    font-family: 'Fira', mono;
    padding: 2px;
    padding-left: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    font-size: 16px;
}
li {
    font-family: ubuntu, monospace;
    display: inline;
    margin: 0px 3px;
}
p {
    text-align: left;
    margin: 5px auto 5px auto;
    padding: 0px; 
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F2E9E1;
}
a {
    font-family: ubuntu, monospace;
    font-family: 'Fira', mono;
    color: black;
    text-transform: uppercase;
    padding: 5px 14px 5px 14px;
    text-decoration: none;
}
div {
    
}
article {
    font-family: liberation, sans-serif;
    font-family: ubuntu, monospace;
    line-height: 170%;
    margin: 0px;
    padding: 0px;    
}
footer {
    clear: both;
    font-size: 80%;
    text-align: right;
}
a:hover, a.on {
    color: #152A39;
    background-color: #CBE86B;
    background-color: #152A39;
    color: #9CF0B9;
    border-radius: 3px;
}