html {
    display: table;
    margin: auto;
}
.bar {
	margin-bottom: 10px;
	color: white;
	padding: 4px;
	text-align: left;
	background-color: #7073FF;
	border-radius: 2px;
	text-shadow: 1px 1px 3px #000000;
}

.error {
	color: #FF0000;
}

dl {
	font-size: 75%;
	float: left;
	margin: 5px;
	padding: 5px;
}
body
{
	background-color: #efefef;
	max-width: 1000px;
	min-width: 300px;
	border: 1px solid grey;

}
aside
{
	float:left;
	width: 75px;
	border: 2px solid #7073FF;

}
img {
	padding: 10px;
	float:left;
}
nav
{
	margin: 0px auto 0px auto;

	text-align: left;
}
h1 {
	background-color: #7073FF;
	color: #efefef;
	text-shadow: 1px 1px 3px #111111;
	font-family: ubuntu, monospace;
	padding: 15px;
	margin: 0px auto 0px auto;
	text-align: center;
}
li {
	font-family: ubuntu, monospace;
	display: inline;
	margin: 0px 3px;
}
p {
	text-align: left;
	margin: 20px auto 20px auto; 
	padding-left: 25px;
	padding-right: 25px;
	background-color: #efefef;
}
a {
	font-family: ubuntu, monospace;
	color: black;
	text-transform: uppercase;
	padding: 5px 14px 5px 14px;
	text-decoration: none;
}
div {

}
article {
	font-family: liberation, sans-serif;
	margin: 5px;
	padding: 4px;

}
footer {
	clear: both;
	font-size: 80%;
	padding: 5px;
	margin: 5px;
}
a:hover, a.on {
	color: #7073FF;
	background-color: white;
}